# /etc/nomad.d/nomad.hcl on SE/SWE
datacenter = "goida"
data_dir   = "/opt/nomad"
bind_addr  = "0.0.0.0"

server {
  enabled          = true
  bootstrap_expect = 3
}

client {
  enabled = true
}

# persistent volume roots:
# /opt/nomad/volumes/grafana
# /opt/nomad/volumes/loki
