CLIENT_BOT_TOKEN=
CLIENT_WEB_PORT=9081
CLIENT_WEBAPP_URL=https://web.goida.fun/
CLIENT_BOT_DB=/root/vpn-bot/bot.db
CLIENT_XUI_DB=/etc/x-ui/x-ui.db
CLIENT_SUBSCRIPTION_BASE=https://ru.goida.fun/subscribe
CLIENT_OWNER_ID=294057781
CLIENT_DEV_AUTH=0
