# dns failover watchdog stub
DNS_RECORD_NAME=ru.goida.fun
WATCHDOG_CANDIDATES=ru=83.147.255.98,fin=77.110.108.57,se=89.22.230.5
WATCHDOG_DRY_RUN=1

# todo: выбрать dns provider и формат секретов
# CLOUDFLARE_API_TOKEN=
# CLOUDFLARE_ZONE_ID=
