[Unit]
Description=run goida intermesh analyzer every 5 minutes

[Timer]
OnBootSec=2min
OnUnitActiveSec=5min
AccuracySec=15s
Unit=goida-intermesh-analyzer.service

[Install]
WantedBy=timers.target
